
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin small{
	@media only screen and (max-width: 768px){
		@content;
	}

}

@mixin non-small{
	@media only screen and (min-width: 769px){
		@content;
	}

}

.bg-white{
	background-color: white;
}
.wrapper {
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
}

.main-content-height{
	min-height: 90vh;
	@include small{
		height: auto;
	}
}

.screen-view-height{
	min-height: 100vh;
}

.screen-view-width{
	min-width: 100vw;
}
#content{
	width:93%;
	@include small{
		width: 100%;
	}
}
#content.active{
	width: 80%;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff;
    transition: all 0.3s;
    margin-left: 0;
    @include small{
    	/*margin-left: -250px;*/
    	/*For Partial SideBar */
    	margin-left: 0;
    }
	.sidebar-header {
	    padding: 10px;
	    background: #8eb4cb;
	    margin-top:-5px;
	    color: #ffffff;
	    /*For Partial SideBar */
	    strong{
			display: none
		}
	}

	ul.components {
	    padding: 20px 0;
	    border-bottom: 1px solid #47748b;
	}

	ul{ 
		p {
		    color: #000000;
		    padding: 10px;
		}

		li a {
		    padding: 10px;
		    font-size: 1.1em;
		    display: block;
		    /*For Partial SideBar */
		    text-align: left;
		    &:hover {
				color: #7386D5;
				background: #fff;
			}
		}
		li.active > a{
			@extend .special;
		}

		ul a {
		    font-size: 0.9em !important;
		    padding-left: 30px !important;
		    color: #ffffff;
		    background: #8eb4cb;
		}
	}
}

#sidebar.active{
	/*For Partial SideBar */
	min-width: 80px;
	max-width: 80px;
   /* margin-left: -250px; */
    @include small{
    	/*margin-left: 0;*/
    	/*For Partial SideBar */
    	min-width: 80px;
    	max-width: 80px;
    	text-align: center;
    	margin-left: -80px !important;
    }


    /*For Partial SideBar */
    .sidebar-header {
    	h3{
    		display: none;
    	}
		strong{
			display: block;
		}
	}

	ul{
		li a {
			text-align: center;
			padding: 20px 10px;
			font-size: 0.85em;

			i{
				margin-right: 0px;
				display: block;
				font-size: 1.8em;
				margin-bottom: 5px;
			}
		}

		ul a {
			padding: 10px !important;
		}
	}

	a[aria-expanded="false"]::before,
	a[aria-expanded="true"]::before{
		top: auto;
		bottom: 5px;
		right: 50%;
		transform: translateX(50%);

	}
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"], .special{
		color: #fff;
	    background: #8eb4cb;
		&::before {
	    content: '\e260';
	}
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.container.non-margin-left{
	margin-left: 0;
}


/* Table Bootstrap Responsivenesss */



thead tr{
	@include small{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
}

tr{
	@include small{
		border: 1px solid grey;
	}
}
td{	
	@include non-small{
		display: table-cell !important;
	}
	@include small{
		border: none;
		border-bottom: 1px solid grey;
		position: relative;
	}
	&:not(.actions-button){
		@include small{
			padding-left: 50% !important;
		}
	}
	&:before{
		@include small{
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
	}
}

table, thead, tbody, th, td, tr { 
	@include small{
		display: block;
	}
}
tbody tr td{
	&:first-child{
		@include small{
			background-color: grey;
			color: #ffffff;
		}
	}
}

// table#user-table{

// 	td{
// 		word-break : break-word;

// 		&:nth-of-type(2):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 		&:nth-of-type(3):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 		&:nth-of-type(4):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 		&:nth-of-type(5):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 		&:nth-of-type(6):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 		&:nth-of-type(7):before { 
// 			@include small{
// 				content: attr(data-title);
// 			}
// 		}
// 	}
// }

table{

	td{
		word-break : break-word;

		&:nth-of-type(2):before { 
			@include small{
				content: attr(data-title);
			}
		}
		&:nth-of-type(3):before { 
			@include small{
				content: attr(data-title);
			}
		}
		&:nth-of-type(4):before { 
			@include small{
				content: attr(data-title);
			}
		}
		&:nth-of-type(5):before { 
			@include small{
				content: attr(data-title);
			}
		}
		&:nth-of-type(6):before { 
			@include small{
				content: attr(data-title);
			}
		}
		&:nth-of-type(7):before { 
			@include small{
				content: attr(data-title);
			}
		}
	}

	
	
}
.panel-heading.padding{
	padding: 20px;
	*{
		display: inline;
	}
}

#post{
	h2{
		font-size: 32px;
	}
	ul.comments{
		margin:20px 0;
		padding:0;
		list-style: none;
		li{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #c0c0c0;
			border-radius: 2px;
			a{
			    display: block;
			    color: #797979;
			    font-size: 12px;
			}
		}
	}
	.padding-bottom{
		padding-bottom: 30px;
		border-bottom: 1px solid grey;
	}
	.padding-bottom.non-border-bottom{
		border-bottom: 0;
	}
}

.dropdown{
	.dropdown-menu{
		li{
			margin: 5px;
		}
	}
}